%p#notice= notice

%p
  %b Title:
  = @message.title
%p
  %b Author:
  = @message.author
%p
  %b Body:
  = @message.body

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
